body {
    font-family: 'Prompt', sans-serif;
}

ul, li, img  {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.control {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.control button {
  min-width: 35px;
  padding: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  outline: 2px solid crimson;
  padding: 10px;
  width: 100%;
}

.container button {
  min-width: 50px;
  padding: 4px;
  border-radius: 4px;
}


.task-1 {
  display: flex;
  gap: 15px;
}

.task-1 button {
  font-family: inherit;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #5ed1a5;
}