body {
    font-family: 'Prompt', sans-serif;
    padding: 16px;
    margin: 0;
    box-sizing: border-box;
}

ul, li, img  {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.control {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.control button {
  min-width: 35px;
  padding: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
  gap: 10px;
  outline: 2px solid crimson;
  padding: 10px;
  width: 100%;
}

.container button {
  min-width: 50px;
  padding: 4px;
  border-radius: 4px;
}


.task-1 {
  display: flex;
  gap: 15px;
}

.task-1 button {
  font-family: inherit;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #5ed1a5;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  outline: 1px solid teal;
  width: 100%;
}

.tags__btn {
  font-family: inherit;
  padding: 4px 18px;
  border-radius: 8px;
  border: 3px solid orange;
}

.tags__btn--active {
  color: #ff5;
  background-color: #3f51b5ff;
}

.task-1 li{
  font-family: inherit;
  font-weight: 700;
}

/* ===============colorpicker================== */

.palette {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
 

}

.color-card {
  border: 4px solid teal;
  border-radius: 8px;
  min-width: 160px;
}

.color-card.is-active {
  transform: perspective(480px) rotateX(10deg);
}

.color-swatch {
  width: 100%;
  height: 100px;
}

.color-meta {
  padding:8px;
  font-weight: 600;
  background-color: #cca;
}

/* ===============chatty-events.html================== */

.fun-input {
  font-weight: 600;
  color: crimson;
}

.flist li{
padding: 6px;
}
/* ===============lazy-loading.html================== */

.feed  li img{
width: 100%;

transform: translateX(-50%);
opacity: 0;
transition: all 2500ms;
object-fit: cover;

}

.feed img.appear {
  transform: translateX(0);
  opacity: 1;
}

